/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;



.btn{
    @apply rounded-lg text-base font-medium;
}

.btn--primary{
    @apply flex-grow bg-primary-400;
    @apply text-white;
    @apply h-auto w-auto;
    @apply hover:bg-primary-500 active:bg-primary-600 ;
}